caikit[runtime-grpc, runtime-http]

# Only needed for HuggingFace
scipy
torch
transformers~=4.27.2

# For http client
requests
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
